*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9D9D9;
}

.header-title {
    width: 726px;
    height: 117px;
    border: 10px solid #66373F;
    border-radius: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 32px;
    margin-left: 613px;
    margin-top: 44px;
}

.header-burger {
    margin-left: 400px;
    margin-top: 16px;
}

.line {
    width: 72px;
    height: 19px;
    border-radius: 100px;
}
.line1 {
    background-color: #870305;
}
.line2 {
    background-color: #66373F;
    margin-top: 12px;
    margin-bottom: 13px;
}
.line3 {
    background-color: #A23332;
}

header {
    display: flex;
}

.container1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 106px;
    align-items: flex-start;
}
.container1 img {
    width: 719px;
    height: 560px;
    border-radius: 211px;
}
.container1 p {
    width: 1138px;
    font-size: 48px;
}
.container2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 71px;
    align-items: center;
}
.container2 img {
    width: 752px;
    height: 575px;
    border-radius: 210px;
}
.container2 p {
    width: 1110px;
    font-size: 64px;
}